*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.menu-bg {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.navbar .bg{
    position:absolute;
    z-index: -1;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    background-image: url('images/hotel.jpg') center ;
    background-size:cover;
    opacity:0.7;
}

.navbar {
    position:relative;
    z-index: 1;
    overflow: hidden;
    width:100%;
    min-height: 100vh;
    color: #525252;

}

nav{
    background:#1a1a1a;
    height: 12vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
}

.hotel_logo{
  height:15vh;
  cursor:pointer;
  padding: 20px 30px;
}

.profile_logo{
    height:15vh;
    max-height:20vh;
    cursor:pointer;
    padding: 20px 65px;
}

nav ul {
    width:100%;
    text-align: right;
    font-color:white;
    font-size: 20px;
}

nav ul li {
    position: relative;
    display: inline-block;

    list-style: none;
    margin: 10px 20px;

}

.menuBtn{
 background:#1a1a1a;
 color: #fff;
 font-size: 20px;
 border: none;
}

#roomsBtn{
display: none;
}


.user_sub_menu-wrap{
    z-index: 1;
    position: absolute;
    top: 100%;
    right: 3%;
    width: 320px;
    max-height:0px;
    overflow:hidden;
    transition: max-height 0.5s;
}

.user_sub_menu-wrap.open_menu{
    max-height: 50vh;
}

.sub_menu{
    background:#fff;
    padding: 20px;
    margin: 10px;
    border-radius:20px;
    border: gray ridge;
}

.user_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}

.user_info h2{
   font-weight:bold;
   position:relative;
}

.user_info img{
   height: 13vh;
}

.sub_menu hr{
    border: 0;
    background:#ccc;
    height:2px;
    width: 100%;
    margin: 15px 0 10px;
    }

.sub_menu_link {
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 20px 20px;
}


.sub_menu_link p{
    width:100%;
    margin-left:15px;
  }

.sub_menu_link img{
    width:40px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
}

.sub_menu_link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub_menu_link:hover span{
    transform: translateX(5px);
}

.sub_menu_link:hover p{
   font-weight: bolder;
}

.welcome{
    color: black;
    text-align:center;
    margin: 150px 50px 150px 50px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 1.5px;
    line-height: 1.8;
}
.welcome p{

    animation-name: bigger;
    animation-duration: 5s;
     font-size:90px;
}


@keyframes bigger{
    from{font-size: 10px}
    to {font-size: 90px}
}



.contact-text{
    max-width: 700px;
    color: black;
    text-align:center;
    margin: 80px 380px 50px 480px;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 1.5px;
    line-height: 1.8;
    font-size: 30px;
}
.contact-text hr{
    border: 0;
    background:black;
    height:2px;
    width: 100%;
    margin: 25px 0px 25px;
    }

.about-us-text{
    color: black;
    text-align:center;
    margin: 50px 120px 50px 120px;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 1.5px;
    line-height: 1.8;
    font-size: 25px;
}

.about-us-text hr{
    border: 0;
    background:black;
    height:2px;
    width: 100%;
    margin: 25px 0px 25px;
}


.photos{
    position:relative;
    width: 120vh;
    overflow: hidden;
    margin: 25px 150px 10px 270px;
    box-shadow: 10px 10px 22px 1px rgba(0, 0, 0, 1.00);

}
.photos img{
    width: 100%;
    display: none;
    border:  5px solid #555;
    border-radius: 0.5%;
}

img.displayPhoto {
    display:block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.photos button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background-color: hsla(0,0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}
.next{
    right:0%;
}

.prev{
    left:0%;
}

@keyframes fade{
    from{opacity: .5}
    to {opacity: 1}
}

.promotions {
   z-index: -1;
   width: 100%;
   min-height: 90vh;
   position:relative;
   display: flex;
   align-items: center;
   justify-content: center
}

.img-cont{
    width: 35%;
    height: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 22px 1px rgba(0, 0, 0, 1.00);
    border-radius: 2%;
    border: 2px solid black;
}

#promotion {
    background-image: url("../images/promotions/relaxation.jpg");
    background-size: cover;
    opacity: 0.8;
    top: 5%;
    left: 2%;
}

.img-cont h1{
    padding: 10px 20px;
    color: white;
    font-family: "Square Peg", cursive;
    font-style: italic;
    font-size: 50px;
    rotate: 15deg;
}

#party {
    background-image: url("../images/promotions/beach_party.jpg");
    background-size: cover;
    opacity: 1;
    top: 27%;
    left: 31%;
}

#diving {
    background-image: url("../images/promotions/diving.jpg");
    background-size: cover;
    opacity: 1;
    bottom: 4%;
    right: 2%;
}

.new-reservations-container{
    z-index: -1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    min-width: 45vh;
    min-height: 55vh;
    position: relative;
    margin: 60px 480px 25px 550px;
    background-color: white;
    padding: 40px 10px 25px 10px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    float:left;
    box-shadow: 10px 10px 22px 1px rgba(0, 0, 0, 1.00);
    resize: both;
    overflow: auto;
}

.form-container h2{
    text-align:center;
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
    border-radius: 10px 10px 0 0;
}

.form-container input[type=date],select[type=text], input[type=text]{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin: 5px 0 25px 0;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
}

label{
    color: #464646;
    text-shadow: 0 2px 0 #fff;
    font-size: 15px;
    font-weight: bold;
}

.new-reservation-btns{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    margin: 15px 0 0 0;
}


#complete_button{
    color: black;
    font-size: 12px;
    background:linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    width: 40%;
    margin-left: 0px;
    border-radius: 5px;
    padding: 6px 0;

}

#complete_button:hover{
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

#cancel_button{
    color: black;
    font-size: 12px;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    width: 40%;
    margin-right: 0px;
    border-radius: 5px;
    padding: 6px 0;
    background: linear-gradient(#C60C30 5%, #FF2400 100%);
}

#cancel_button:hover{
   background: linear-gradient(#FF2400 5%, #C60C30 100%);
}



.edit-profile-container {
   width: 100%;
   min-height: 90vh;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-left: 15vh;
}

.profile-container{
    position:relative;
    min-height: 65vh;
    width: 55vh;
    margin: 80px auto;
    background-color: white;

    padding: 30px 50px 25px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    float:left;
    margin-top:30px;
    box-shadow: 10px 10px 22px 1px rgba(0, 0, 0, 1.00);
}
.profile-container h2{
    display: flex;
    justify-content: center;
}

.profile-container input{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
    align-items: center;
}

.editBtns{
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    margin: 10px auto;
}



#update_account{
    color: black;
    font-size: 12px;
    background:linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    width: 35%;
    border-radius: 5px;
    padding: 6px 0;

}

#update_account:hover{
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

#cancel{
    color: black;
    font-size: 12px;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    width: 35%;
    border-radius: 5px;
    padding: 6px 0;
    background: linear-gradient(#C60C30 5%, #FF2400 100%);
}

#cancel:hover{
   background: linear-gradient(#FF2400 5%, #C60C30 100%);
}


.edit-messages{
    min-height: 0.1vh;
    background-color: white;
    overflow: auto;
}

#errorMsg {
    position:relative;
    font-size: 12px;
    color:red;
    visibility:hidden;
    font-weight:bold;
}

.successMsg {
    position:relative;
    font-size: 12px;
    color:green;
    margin-top: 8px;
    visibility:hidden;
    font-weight:bold;
}

#update_account{
    background: linear-gradient(#C60C30 5%, #FF2400 100%);

}
#update_account:hover{
    background: linear-gradient(#FF2400 5%, #C60C30 100%);
}

#cancel{
  background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);

}

#cancel:hover{
  background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}


.rooms-container{
    z-index: -1;
    width: 100%;
    display: table;
    align-items: center;
    justify-content: space-between;
}

.rooms-form-container{
    width: 100%;
    position: relative;
    font-family: 'Raleway', sans-serif;
    float:left;
}
#rooms_form{
    width: 90%;
    margin: 25px 20px 15px 135px;
}

.rooms-form-container select, input[type=date]{
    width: 30vh;
    height: 30px;
    padding: 5px;
    margin-right: 45px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
}


#find_button{
    color: black;
    font-size: 14px;
    background:linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    width: 10vh;

    border-radius: 5px;
    padding: 6px 0;
    //margin: 10px 20px;
}

.table-form-container{
    z-index: 1;
    width: 90%;
    max-height: 0px;
    overflow:hidden;
    position: relative;
    margin: 10px 80px;
    background-color: white;
    //padding: 20px 50px 25px;
    font-family: 'Raleway', sans-serif;
    float:left;
}

.table-form-container.open_guest_data_menu{
    max-height: 200vh;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px 22px 1px rgba(0, 0, 0, 1.00);
}



#rooms_table{
    width: 95%;
    margin:40px 40px 40px 40px;
    font-family: 'Raleway', sans-serif;
    border-collapse: collapse;
    background-color: white;
}



th, td{
    color: black;
    text-align:center;
    padding: 8px 10px;
    font-size: 13px;
}

#room_errorMsg {
    font-size: 20px;
    color:red;
    visibility:hidden;
    font-weight:bold;
    margin:0 100px;
    display: flex;
    justify-content:center;
}

.user-form-container{
    z-index: 1;
    width: 48vh;
    overflow:hidden;
    position: absolute;
    top: 22vh;
    left: 105vh;
    max-height: 0px;

    background-color: white;
    font-family: 'Raleway', sans-serif;
    float:left;
    cursor: move;
    user-select: none;
    resize: both;
    overflow: auto;
}

.user-form-container.open_guest_data_menu{
        max-height: 78vh;
        border: 2px solid gray;
        border-radius: 10px;
        box-shadow: 10px 10px 22px 1px rgba(0, 0, 0, 1.00);
}

#user_form{
    margin: 25px 20px 0px 20px;
    padding: 20px 0 5px 0;
    position:relative;
}
.user-form-container input[type=text]{
    width: 90%;
    height: 3vh;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 13px;
    border-radius: 5px;
}
.user-form-container label{
    width: 90%;
    margin-left: 5%;
    font-size: 13px;
}
.room-guestBtns{
    width: 90%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    margin: 15px auto;
}


#room_complete_button{
    color: black;
    font-size: 12px;
    background:linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    width: 35%;
    margin-left: 5%;
    border-radius: 5px;
    padding: 6px 0;

}

#room_complete_button:hover{
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

#room_cancel_button{
    color: black;
    font-size: 12px;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    width: 35%;
    margin-right: 5%;
    border-radius: 5px;
    padding: 6px 0;
    background: linear-gradient(#C60C30 5%, #FF2400 100%);
}

#room_cancel_button:hover{
   background: linear-gradient(#FF2400 5%, #C60C30 100%);
}

.rooms{
    width: 80%;
    margin-left:10%;
    min-height: 0.1vh;
    background-color: white;
    overflow: auto;
}

#guest_errorMsg {
    position:relative;
    font-size: 12px;
    color:red;
    visibility:hidden;
    font-weight:bold;

}

#guest_successMsg {
    position:relative;
    font-size: 12px;
    color:green;
    visibility:hidden;
    font-weight:bold;
    margin:10px auto;
}

.required {
    font-size: 10px;
    color:red;
    margin:0px auto 10px 0px;
}

#required{
    margin-left: 5%;
}

.weather{
    z-index: 1;
    width: 40vh;
    min-height: 35vh;
    margin-left: 80vh;
    box-shadow: 10px 10px 22px 1px rgba(0, 0, 0, 1.00);
    padding: 50px 0px 20px 0px;
    font-family: 'Raleway', sans-serif;
    display: none;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(1800deg, hsl(190, 100%, 80%), hsl(30, 100%, 75%) );
    border: 2px solid gray;
    border-radius: 10px;

}

.weather h2{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: black;
}

.weather p{
    font-size: 30px;
    margin-top: 20px;
    font-weight:bold;
    color: black;
}

#temperature{
    font-size: 40px;

}

#weatherImg{
    margin: 0;
    height: 15vh;
}

#weatherError{
    color:red;
    font-size: 14px;
    margin:5px auto;
}


.reservation-form-container{
    draggable: true;
    z-index: 1;
    width: 48vh;
    overflow:hidden;
    position: absolute;
    top: 22vh;
    left: 88vh;
    //min-height: 65vh;
    max-height: 0px;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    float:left;
    cursor: move;
    user-select: none;
    resize: both;
    overflow: auto;
}

.reservation-form-container.open_data_menu{
        max-height: 75vh;
        border: 2px solid gray;
        border-radius: 10px;
        box-shadow: 10px 10px 22px 1px rgba(0, 0, 0, 1.00);
}

#reservation_form{
    margin: 25px 20px 0px 20px;
    position:relative;
}

.reservation-form-container input[type=text]{
    width: 90%;
    height: 3vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 13px;
    border-radius: 5px;
}
.reservation-form-container input[type=date]{
    width: 90%;
    height: 3.5vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7px;
    margin-bottom: 3%;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 13px;
    border-radius: 5px;
}
.reservation-form-container label{
    width: 90%;
    margin-left: 5%;
    font-size: 12px;
}
.reservation-form-container h5{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
    color: green;
    text-align: center;
    text-decoration: underline;
}

.reservationBts{
    width: 90%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    margin: 0 auto 30px auto;
}

#reservation_update_button{
    color: black;
    font-size: 12px;
    background:linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    width: 35%;
    margin-left:5%;
    border-radius: 5px;
    padding: 6px 0;
}

#reservation_update_button:hover{
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

#reservation_cancel_button{
    color: black;
    font-size: 12px;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    width: 35%;
    border-radius: 5px;
    margin-right: 5%;
    padding: 6px 0;
    background: linear-gradient(#C60C30 5%, #FF2400 100%);
}

#reservation_cancel_button:hover{
   background: linear-gradient(#FF2400 5%, #C60C30 100%);
}

.reservationMsg{
    width: 80%;
    margin-left:5%;
    min-height: 0.1vh;
    background-color: white;
    overflow: auto;
}

#res_errorMsg {
    position:relative;
    font-size: 12px;
    color:red;
    visibility:hidden;
    margin-left:5%;
    margin-bottom:2%;
    font-weight:bold;

}

#res_successMsg {
    position:relative;
    font-size: 12px;
    color:green;
    margin-left:5%;
    margin-bottom:2%;
    visibility:hidden;
    font-weight:bold;
}

.reservations-container{
    z-index: -1;
    width: 100%;
    display: table;
    align-items: center;
    justify-content: space-between;
    position:relative;
}

.table-cont{
    position: relative;
    color: black;
    margin: 80px 80px;
    background-color: white;
    padding: 20px 50px 25px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    float:left;
    box-shadow: 10px 10px 22px 1px rgba(0, 0, 0, 1.00);
}


table{
    min-width: 150vh;
    margin:30px auto;
    font-family: 'Raleway', sans-serif;
    border-collapse: collapse;
    background-color: white;
}

th, td{
    color: black;
    text-align:center;
    padding: 8px 10px;
    font-size: 13px;
}

#removeBtn{
    width: 40%;
    cursor:pointer;
    color: black;
}

.editBtn{
    width: 40%;
      cursor:pointer;
      color: black;
}

.filter-form-container{
    width: 100%;
    position: relative;
    font-family: 'Raleway', sans-serif;
    float:left;
    max-height:0px;
    overflow:hidden;
}

.filter-form-container.open-form{
    max-height:45vh;


}
#filter_form{
    width: 90%;
    margin: 65px 20px 15px 100px;
}

.filter-form-container input[type=text]{
    width: 22vh;
    height: 30px;
    padding: 5px;
    margin-right: 45px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 12px;
    font-weight:bold;
    color: green;
    border-radius: 5px;
}


#find_button{
    color: black;
    font-size: 14px;
    background:linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    width: 11vh;
    border-radius: 5px;
    padding: 6px 0;
}

















