@import url(http://fonts.googleapis.com/css?family=Raleway);

*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.required{
    color:red;
    font-size:12px;
}

.menu-bg {
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.navbar .bg{
    position:absolute;
    z-index: -1;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    background-image: url('../images/hotel.jpg') center ;
    background-size:cover;
    //opacity:0.8;
}

.navbar {
    position:relative;
    z-index: 1;
    overflow: hidden;
    width:100%;
    min-height: 100vh;
    color: #525252;
}

nav{
    background:#1a1a1a;
    height: 10vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
}



nav h1{
    color:white;
    font-size: 35px;
    text-align:center;
    border-radius: 10px 10px 0 0;
}


.container {
   width: 100%;
   min-height: 90vh;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}


.main{
    min-height: 55vh;
    min-width: 45vh;
    margin: 80px auto;
    background-color: white;

    padding: 20px 50px 25px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    float:left;
    margin-top:30px;
    box-shadow: 10px 10px 22px 1px rgba(0, 0, 0, 1.00);
}

h2{
    padding: 30px 35px 50px 35px;
    margin: -10px -50px;
    text-align:center;
    font-size: 30px;
    color: black;
    border-radius: 10px 10px 0 0;
}

.main input{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
}


.main label{
    color: #464646;
    text-shadow: 0 2px 0 #fff;
    font-size: 15px;
    font-weight: bold;
}

#login_button{
    color: black;
    font-size: 17px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
    margin-bottom: 25px;
    margin-top: 25px;
}

#new_account_button{
    color: black;
    font-size: 16px;
    background: linear-gradient(#C60C30 5%, #FF2400 100%);
    border: 1px solid #e5a900;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
    margin-bottom: 25px;
    margin-top: 5px;
}
#new_account_button:hover{
    background: linear-gradient(#FF2400 5%, #C60C30 100%);
}

#login_button:hover{
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

#errorMsg {
    font-size: 12px;
    color:red;
    visibility:hidden;
    font-weight:bold;
    margin:auto;

}

#successMsg {
    font-size: 12px;
    color:green;
    visibility:hidden;
    font-weight:bold;
    margin:auto;

}
.new-account-container {
   width: 100%;
   min-height: 90vh;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-left: 15vh;
}


.form-container{
    position:relative;
     min-height: 55vh;
     width: 50vh;
     margin: 80px auto;
     background-color: white;
     padding: 30px 50px 25px;
     border: 2px solid gray;
     border-radius: 10px;
     font-family: 'Raleway', sans-serif;
     float:left;
     margin-top:30px;
     box-shadow: 10px 10px 22px 1px rgba(0, 0, 0, 1.00);;
}
.form-container input{
     width: 100%;
      height: 40px;
      margin-bottom: 15px;
      margin-top: 5px;
      border: 2px solid #ccc;
      color: #4f4f4f;
      font-size: 16px;
      border-radius: 5px;
      align-items: center;
}
.form-container label{
    color: #464646;
    text-shadow: 0 2px 0 #fff;
    font-size: 15px;
    font-weight: bold;
}




.account-Btns{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    margin: 20px auto;
}


#account_complete_button{
    color: black;
    font-size: 12px;
    background:linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    width: 40%;
    //margin-left: 5%;
    border-radius: 5px;
    padding: 6px 0;

}

#account_complete_button:hover{
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

#account_cancel_button{
    color: black;
    font-size: 12px;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    width: 40%;
    //margin-right: 5%;
    border-radius: 5px;
    padding: 6px 0;
    background: linear-gradient(#C60C30 5%, #FF2400 100%);
}

#account_cancel_button:hover{
   background: linear-gradient(#FF2400 5%, #C60C30 100%);
}

#required {
    font-size: 10px;
    color:red;
    margin:0px auto 10px 0px;
}

